<h1> Edit patient </h1>

<%= form_with model: @patient do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <p>Name</p>
        <%= form.text_field :name, class: "form-control", value: "#{@patient.name}" %>
    </div>

    <div class="mb-3">
        <p>Birth Date</p>
        <%= form.date_field :birth_date, class: "form-control", value: "#{@patient.birth_date}"%>
    </div>

    <div class="mb-3">
        <p>CPF</p>
        <%= form.text_field :cpf, class: "form-control", value: "#{@patient.cpf}" %>
    </div>

    <div class="mb-3">
        <%= form.submit %>
        <%= link_to "Back", patients_path , class: "btn" %>
    </div>
<% end %>