<div class="row mt-5 mb-3">
    <div class="col-md-6">
        <h3 class="">New patient</h3>
    </div>
</div>

<%= form_with model: @patient do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <p>Name</p>
        <%= form.text_field :name, class: "form-control", placeholder: "Your name" %>
    </div>

    <div class="mb-3">
        <p>Birth Date</p>
        <%= form.date_field :birth_date, class: "form-control"%>
    </div>

    <div class="mb-3">
        <p>CPF</p>
        <%= form.text_field :cpf, class: "form-control", placeholder: "000.000.000-00" %>
    </div>

    <div class="mb-3">
        <%= form.submit %>
        <%= link_to "Back", patients_path , class: "btn" %>
    </div>
<% end %>