<div class="row mt-5 mb-3">
    <div class="col-md-6">
        <h3 class="">New doctor</h3>
    </div>
</div>

<%= form_with model: @doctor do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <p>Name</p>
        <%= form.text_field :name, class: "form-control", placeholder: "Your name" %>
    </div>

    <div class="mb-3">
        <p>CRM</p>
        <%= form.text_field :crm, class: "form-control", placeholder: "Your CRM" %>
    </div>

    <div class="mb-3">
        <p>UF CRM</p>
        <%= form.text_field :crm_uf, class: "form-control", placeholder: "The UF from your CRM" %>
    </div>

    <div class="mb-3">
        <%= form.submit %>
        <%= link_to "Back", doctors_path , class: "btn" %>
    </div>
<% end %>