<div>
    <h3 class="mt-5 mb-3">Filtro:</h3>
    <%= form_with url: 'show' do |form| %>
        <div class="mb-3">
            <% doctors_array = @doctors.map { |doctor| ["#{doctor.name} - #{doctor.crm}", "#{doctor.id}"]} %>
            <% doctors_array.insert(0, ["Todoso os médicos (#{doctors_array.size})", "all"])  %>
            <%= form.select :filter, options_for_select(doctors_array), class: "form-control" %>
            <%= form.submit "Aplicar" %>
        </div>
    <% end %>
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Appointments</th>
            <th scope="col">Patients</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><%= @appointments.count %></th>
            <th scope="row"><%= @patients.count %></th>
        </tr>
    </tbody>
    </table>
</div>
<% console %>