<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>

    <!--<%= render 'shared/footer' %>-->
  </body>
</html>
